/* About Hero Section */
.about-hero {
    background: #faf7f2;
    padding: 100px 0;
}

.section-content {
    width: 90%;
    margin: auto;
}

.about-img {
    width: 430px;
    height: 430px;
    object-fit: cover;
    border-radius: 50%;
    border: 12px solid #d4a762;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .15);
    transition: .5s;
    margin-top: 20px;
}

.about-img:hover {
    transform: scale(1.05);
}

.sub-title {
    display: inline-block;
    color: #c28b39;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.about-hero h1 {
    font-size: 30px;
    font-weight: 600;
    color: #3d2514;
    margin-bottom: 25px;
}

.about-hero p {
    color: #666;
    line-height: 1.9;
    font-size: 17px;
    margin-bottom: 35px;
}

.about-social {
    display: flex;
    gap: 18px;
}

.about-social a {
    width: 55px;
    height: 55px;
    background: #d4a762;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
    transition: .4s;
}

.about-social a:hover {
    background: #3d2514;
    color: #fff;
    transform: translateY(-8px) rotate(360deg);
}

/* Our Story */

.our-story {
    padding: 90px 0;
    background: #faf7f2;
}

.our-story img {
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .15);
}

.our-story h2 {
    color: #3b2416;
    font-size: 40px;
    margin-bottom: 20px;
}

.our-story p {
    color: #666;
    line-height: 1.9;
    margin-bottom: 20px;
}


/* ===========================
   Why Choose Us
=========================== */

.why-us {
   background: #faf7f2;
    padding: 90px 0;
}

.why-us h2 {
    color: #3b2416;
    font-size: 40px;
    margin-bottom: 50px;
}

.why-us .icon {
    width: 90px;
    height: 90px;
    background: white;
    color: #c97a2b;
    border-radius: 50%;
    line-height: 90px;
    font-size: 35px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    transition: .4s;
}

.why-us .col-md-3:hover .icon {
    background: #6f4e37;
    color: white;
    transform: rotateY(180deg);
}

.why-us h5 {
    color: #3b2416;
    margin-bottom: 15px;
    font-weight: bold;
}

.why-us p {
    color: #666;
}

/* ===========================
   Team
=========================== */

.team {
    padding: 90px 0;
    background: #faf7f2;
}

.team h2 {
    color: #3b2416;
    font-size: 40px;
}

.team-card {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
    transition: .4s;
}

.team-card:hover {
    transform: translateY(-12px);
}

.team-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.team-card h4 {
    color: #3b2416;
    margin-top: 20px;
    font-weight: bold;
}

.team-card span {
    display: block;
    color: #c97a2b;
    padding-bottom: 20px;
}

/* ===========================
   Counter
=========================== */

.counter {
    background: #6f4e37;
    color: white;
    padding: 80px 0;
}

.counter h2 {
    font-size: 50px;
    font-weight: bold;
}

.counter p {
    font-size: 18px;
    margin-top: 10px;
}

/* ===========================
   Responsive
=========================== */

@media(max-width:992px) {

    .about-hero {
        text-align: center;
    }

    .about-img {
        margin-bottom: 40px;
    }

    .about-social {
        justify-content: center;
    }

    .our-story {
        text-align: center;
    }

    .our-story img {
        margin-bottom: 30px;
    }

    .team-card {
        margin-bottom: 30px;
    }

    .counter .col-md-3 {
        margin-bottom: 35px;
    }

}

@media(max-width:768px) {

    .about-hero h1 {
        font-size: 36px;
    }

    .our-story h2,
    .why-us h2,
    .team h2 {
        font-size: 32px;
    }

}